{% csrf_token %}
{% load static %}
 
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.css"/>

<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.js"></script>
<!-- <script type="text/javascript" src="{% static "js/csrf.js" %}"></script> -->

<script type="text/javascript">
    var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
</script>


<table id="example" class="display" cellspacing="0" width="100%">
    <thead><tr>
        <!-- <th>Taluk</th> -->
        <th>State Name</th>
        <!-- <th>Related sub-office</th> -->
        <th>Office Name</th>
        <!-- <th>Division Name</th> -->
        <th>Pincode</th>
        <th>Related head-office</th>
        <th>Circle Name</th>
        <th>Delivery Status</th>
        <th>Office type</th>
        <th>District name</th>
        <th>Telephone</th>
        <!-- <th>Region name</th> -->
    </tr></thead>
    <tfoot><tr>
        <!-- <th>Taluk</th> -->
        <th>State Name</th>
        <!-- <th>Related sub-office</th> -->
        <th>Office Name</th>
        <!-- <th>Division Name</th> -->
        <th>Pincode</th>
        <th>Related head-office</th>
        <th>Circle Name</th>
        <th>Delivery Status</th>
        <th>Office type</th>
        <th>District name</th>
        <th>Telephone</th>
        <!-- <th>Region name</th> -->
    </tr></tfoot>
</table>

<script>
	$(document).ready(function(){
        $('#example tfoot th').each( function () {
            var title = $(this).text();
            $(this).html( '<input type="text" placeholder="Search '+title+'" />' );
        } );
        var table = $("#example").DataTable({
			"processing": true,
			"serverSide": true,
			"ajax": {
                    "url": "{% url 'get_postal_data' %}",
                    "type": "POST",
                    "beforeSend": function(request){
                        request.setRequestHeader("X-CSRFToken", csrftoken);
                    },
            },
            "columns": [
                //{ "data": "taluk"},
                { "data": "statename"},
                //{ "data": "related_suboffice"},
                { "data": "officename"},
                //{ "data": "divisionname"},
                { "data": "pincode"},
                { "data": "related_headoffice_" },
                { "data": "circlename"},
                { "data": "deliverystatus"},
                { "data": "officetype"},
                { "data": "districtname"},
                { "data": "telephone"},
                //{ "data": "regionname"},
            ]
		});
        // Apply the search
        table.columns().every( function () {
            var that = this;
            $( 'input', this.footer() ).on( 'keyup change', function () {
                if ( that.search() !== this.value ) {
                    that.search( this.value ).draw();
                }
            } );
        } );
});		
</script>

